# ignore cache files
*/__pycache__/*
__pycache__/*

# ignore folder properties files (mac)
.DS_Store

# ignore static_params.json (different for each system)
static_params.json

# ignore local_files
local_files/*